.container {
	width: 480px;
	margin: 20px auto;
}

.buttons {
	display: block;
	overflow: hidden;
}

#reset {
	margin-bottom: 10px;
	float: left;
}

#random {
	margin-bottom: 10px;
	float: right;
}

div.square-row {
	height: 30px;
}

div.square-row > .square {
	border: 1px solid black;
	width: 28px;
	height: 28px;
	background-color: white;
	display: inline-block;
}